.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown button {
	background-color: #4caf50;
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: calc(100% + 5px); /* Position the dropdown just below the parent */
	left: 0; /* Position the dropdown at the left edge of the parent */
}

.dropdown .dropdown-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown.open .dropdown-content {
	display: block;
}

.dropdown-content p:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}
